In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

df = pd.read_csv('C:/Users/whitn/Documents/JanuaryProject/SQLite_module_3/Project_Prep/ai_jobs_dataset.zip')

print(df.columns)

Index(['job_id', 'job_title', 'salary_usd', 'salary_currency',
       'experience_level', 'employment_type', 'company_location',
       'company_size', 'employee_residence', 'remote_ratio', 'required_skills',
       'education_required', 'years_experience', 'industry', 'posting_date',
       'application_deadline', 'job_description_length', 'benefits_score',
       'company_name'],
      dtype='object')

In [29]:
import os
print(os.getcwd())  # Prints the current working directory

c:\Users\whitn\Documents\JanuaryProject\SQLite_module_3\Project_Prep

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

df = pd.read_csv('ai_jobs_dataset.zip')

print(df.columns)

Index(['job_id', 'job_title', 'salary_usd', 'salary_currency',
       'experience_level', 'employment_type', 'company_location',
       'company_size', 'employee_residence', 'remote_ratio', 'required_skills',
       'education_required', 'years_experience', 'industry', 'posting_date',
       'application_deadline', 'job_description_length', 'benefits_score',
       'company_name'],
      dtype='object')

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

df = pd.read_csv('ai_jobs_dataset.zip')

print(df.isnull().sum())  # Count missing values per column

job_id                    0
job_title                 0
salary_usd                0
salary_currency           0
experience_level          0
employment_type           0
company_location          0
company_size              0
employee_residence        0
remote_ratio              0
required_skills           0
education_required        0
years_experience          0
industry                  0
posting_date              0
application_deadline      0
job_description_length    0
benefits_score            0
company_name              0
dtype: int64

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

df = pd.read_csv('ai_jobs_dataset.zip')

print(df.head())  # View the first 5 rows
print(df.info())  # Check column types and missing values
print(df.describe())  # Get summary statistics

    job_id              job_title  salary_usd salary_currency  \
0  AI00001  AI Research Scientist       90376             USD
1  AI00002   AI Software Engineer       61895             USD
2  AI00003          AI Specialist      152626             USD
3  AI00004           NLP Engineer       80215             USD
4  AI00005          AI Consultant       54624             EUR

  experience_level employment_type company_location company_size  \
0               SE              CT            China            M
1               EN              CT           Canada            M
2               MI              FL      Switzerland            L
3               SE              FL            India            M
4               EN              PT           France            S

  employee_residence  remote_ratio  \
0              China            50
1            Ireland           100
2        South Korea             0
3              India            50
4          Singapore           100

                                   required_skills education_required  \
0         Tableau, PyTorch, Kubernetes, Linux, NLP           Bachelor
1  Deep Learning, AWS, Mathematics, Python, Docker             Master
2     Kubernetes, Deep Learning, Java, Hadoop, NLP          Associate
3                        Scala, SQL, Linux, Python                PhD
4                     MLOps, Java, Tableau, Python             Master

   years_experience    industry posting_date application_deadline  \
0                 9  Automotive   2024-10-18           2024-11-07
1                 1       Media   2024-11-20           2025-01-11
2                 2   Education   2025-03-18           2025-04-07
3                 7  Consulting   2024-12-23           2025-02-24
4                 0       Media   2025-04-15           2025-06-23

   job_description_length  benefits_score       company_name
0                    1076             5.9    Smart Analytics
1                    1268             5.2       TechCorp Inc
2                    1974             9.4    Autonomous Tech
3                    1345             8.6     Future Systems
4                    1989             6.6  Advanced Robotics
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_id                  15000 non-null  object
 1   job_title               15000 non-null  object
 2   salary_usd              15000 non-null  int64
 3   salary_currency         15000 non-null  object
 4   experience_level        15000 non-null  object
 5   employment_type         15000 non-null  object
 6   company_location        15000 non-null  object
 7   company_size            15000 non-null  object
 8   employee_residence      15000 non-null  object
 9   remote_ratio            15000 non-null  int64
 10  required_skills         15000 non-null  object
 11  education_required      15000 non-null  object
 12  years_experience        15000 non-null  int64
 13  industry                15000 non-null  object
 14  posting_date            15000 non-null  object
 15  application_deadline    15000 non-null  object
 16  job_description_length  15000 non-null  int64
 17  benefits_score          15000 non-null  float64
 18  company_name            15000 non-null  object
dtypes: float64(1), int64(4), object(14)
memory usage: 2.2+ MB
None
          salary_usd  remote_ratio  years_experience  job_description_length  \
count   15000.000000  15000.000000      15000.000000            15000.000000
mean   115348.965133     49.483333          6.253200             1503.314733
std     60260.940438     40.812712          5.545768              576.127083
min     32519.000000      0.000000          0.000000              500.000000
25%     70179.750000      0.000000          2.000000             1003.750000
50%     99705.000000     50.000000          5.000000             1512.000000
75%    146408.500000    100.000000         10.000000             2000.000000
max    399095.000000    100.000000         19.000000             2499.000000

       benefits_score
count    15000.000000
mean         7.504273
std          1.450870
min          5.000000
25%          6.200000
50%          7.500000
75%          8.800000
max         10.000000

In [5]:
import os
print(os.getcwd())  # Prints the current working directory

c:\Users\whitn\Documents\JanuaryProject\SQLite_module_3\Project_Prep

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

df = pd.read_csv("linkedin_data_jobs_dataset.zip")

print(df.columns)

Index(['id', 'title', 'company', 'location', 'link', 'source', 'date_posted',
       'work_type', 'employment_type', 'description'],
      dtype='object')

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

df = pd.read_csv("linkedin_data_jobs_dataset.zip")

print(df.head())  # View the first 5 rows
print(df.info())  # Check column types and missing values
print(df.describe())  # Get summary statistics

   id            title    company           location  \
0   1     Data Analyst       Meta       New York, NY
1   2     Data Analyst       Meta  San Francisco, CA
2   3     Data Analyst       Meta    Los Angeles, CA
3   4     Data Analyst       Meta     Washington, DC
4   5  Data Analyst II  Pinterest        Chicago, IL

                                                link    source date_posted  \
0  https://www.linkedin.com/jobs/view/data-analys...  LinkedIn  2025-04-14
1  https://www.linkedin.com/jobs/view/data-analys...  LinkedIn  2025-04-14
2  https://www.linkedin.com/jobs/view/data-analys...  LinkedIn  2025-04-14
3  https://www.linkedin.com/jobs/view/data-analys...  LinkedIn  2025-04-14
4  https://www.linkedin.com/jobs/view/data-analys...  LinkedIn  2025-04-16

   work_type  employment_type  \
0        NaN              NaN
1        NaN              NaN
2        NaN              NaN
3        NaN              NaN
4        NaN              NaN

                                         description
0  The Social Measurement team is a growing team ...
1  The Social Measurement team is a growing team ...
2  The Social Measurement team is a growing team ...
3  The Social Measurement team is a growing team ...
4  About Pinterest\n\nMillions of people around t...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               618 non-null    int64
 1   title            618 non-null    object
 2   company          618 non-null    object
 3   location         618 non-null    object
 4   link             618 non-null    object
 5   source           618 non-null    object
 6   date_posted      618 non-null    object
 7   work_type        0 non-null      float64
 8   employment_type  0 non-null      float64
 9   description      614 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 48.4+ KB
None
                id  work_type  employment_type
count   618.000000        0.0              0.0
mean    761.836570        NaN              NaN
std     465.114626        NaN              NaN
min       1.000000        NaN              NaN
25%     415.250000        NaN              NaN
50%     672.500000        NaN              NaN
75%    1229.750000        NaN              NaN
max    1536.000000        NaN              NaN

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

df = pd.read_csv("linkedin_data_jobs_dataset.zip")

print(df.isnull().sum())  # Count missing values per column

id                   0
title                0
company              0
location             0
link                 0
source               0
date_posted          0
work_type          618
employment_type    618
description          4
dtype: int64